<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" href="/stylesheets/output.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/bfcc361c81.js" crossorigin="anonymous"></script>
  <title>Clan 4 Mozilla - Homepage</title>
</head>

<body>
  <nav class="main-nav">
    <div>
      <a href="#" class="uppercase">
        Mozilla
      </a>
      <div id="lists-nav">
        <ul class="flex flex-row gap-8 font-bold">
          <li><a href="#home" class="linkspy">Home</a></li>
          <li><a href="#aboutus" class="linkspy">About</a></li>
          <% for (const week in media) { %>
          <li><a href="#spy-<%= week %>" class="linkspy">Week <%= week.replace('week_', '') %></a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header landing page -->
  <div id="body-landing">
    <div id="home">
      <header id="header-landing">
        <video autoplay muted loop src="/Opening CLan 4.mp4"></video> <!-- Video for the background -->
        <section>
          <h1 class="absolute top-[8%] left-1/2 -translate-x-1/2 w-full">
            <!-- <span class="text-3xl ">Very Good Very Well</span> -->
            <span class="font-bold text-8xl">CLAN 4 MOZILLA</span>
            <span class="font-bold text-3xl text-primary">Paling Good Well</span>
          </h1>
          <a aria-hidden="true" href="#read">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
            </svg>
          </a>
        </section>
      </header>
      <section class="reader" id="read">
        <div class="content">
          <!-- <div class="sr-only">
            With CSS, you can do way more than you think. One of the most fun CSS
            animation APIs ever. A magical way to create scroll-driven animations
            without the need to touch JavaScript. Animations run off the main
            thread. And you can choose to use View Timelines or Scroll Timelines.
          </div> -->
          <div data-split aria-hidden="true" class="leading-snug">
            Clan terbaik yang responsif,
            Selalu berinovatif,
            dan Menjelajah hal-hal baru untuk dikuasai.
          </div>
        </div>
      </section>
    </div>
  </div>
  <div id="body-content" class="body-content">
    <section id="aboutus" class="w-full h-full spy m-auto bg-neutral-900 py-8">
      <div class="w-full container mx-auto px-4 md:px-8">
        <div class="w-fit text-center m-auto">
          <h3 class="text-white text-3xl font-semibold sm:text-4xl">
            Meet our team
          </h3>
          <p class="text-white mt-3">
            Para Tim Clan Mozilla yang sudah bekerja sama untuk mengeluarkan hasil yang terbaik
            <br>
            untuk bersama-sama
          </p>
        </div>
        <div class="mt-12">
          <ul class="grid gap-8 grid-cols-2 lg:grid-cols-3">
            <% teams.forEach(member => { %>
              <div data-aos="fade-up" data-aos-duration="1000" class="flex flex-col bg-white/10 shadow-sm shadow-white/30 rounded-xl hover:shadow-white/50 hover:shadow-lg transition" href="#">
                <img class="w-full max-h-[400px] object-cover rounded-t-xl" src="<%= member.img %>" alt="Card Image">
                <div class="p-4 md:p-5">
                  <h3 class="text-sm sm:text-xl font-bold text-gray-800 dark:text-white">
                    <%= member.name %>
                  </h3>
                  <div class="w-1/4 h-[1px] bg-white my-2"></div>
                  <p class="mt-1 hidden sm:block text-white">
                    "<%= member.quote %>"
                  </p>
                  <p class="mt-1 hidden sm:block text-white/50">
                    <%= member.sick %>
                  </p>
                </div>
              </div>
            <% }) %>
          </ul>
        </div>
      </div>
    </section>
    <div class="bg-gradient-to-b from-neutral-900 to-transparent h-16"></div>
    <!-- <hr> -->
    <% for (const week in media) { %>
      <section id="spy-<%= week %>" class="body-week max-h-[100vh] overflow-hidden spy container m-auto py-8 md:py-12 relative rounded-b-xl transition-all">
        <h1 class="text-4xl text-center font-bold">Week <%= week.replace('week_', '') %></h1>
        <p class="text-xl text-center py-8">Foto-foto dan Video-video yang telah kami<br>unggah di Minggu ke <%= week.replace('week_', '') %></p>
        <div class="cust-grid">
          <% media[week].forEach(item => { %>
            <% if (item.type === 'image') { %>
              <div class="imgItem item" style="background: url('<%= item.path %>'); background-size: cover; background-position: center; object-fit: cover;" onclick="detailImg('<%= item.path %>')">
                <!-- <img src="<%= item.path %>" alt="Uploaded Image"> -->
                <!-- <div class="item__details" style="position: absolute; bottom: 0; background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 20%, transparent); color: white;">
                  <h1><%= item.metadata.title %></h1>
                  <p><%= item.metadata.description %></p>
                </div> -->
              </div>
              <div id="popup-<%= item.path %>" class="popups hidden bg-black/30 text-white backdrop-blur-lg shadow-lg rounded-lg flex-col fixed top-0 left-0 z-40 w-full h-full justify-center items-center">
                <div class="relative w-full h-full">
                  <div class="bg-neutral-800 absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 shadow-xl rounded-xl overflow-hidden">
                    <img src="<%= item.path %>" alt="" class="h-[70vh] w-auto object-cover bg-center">
                    <!-- <div class="text-white text-center flex gap-4 items-center justify-center p-4">
                      <h1 class="font-bold uppercase text-3xl"><%= item.metadata.title %></h1>
                      <span>-</span>
                      <p class="text-1xl"><%= item.metadata.description %></p>
                    </div> -->
                  </div>
                  <div class="absolute text-white text-4xl right-14 top-28 bg-black/35 cursor-pointer" onclick="detailImg('<%= item.path %>')">
                    <i class="fa-solid fa-xmark"></i>
                  </div>
                </div>
              </div>
            <% } else if (item.type === 'video') { %>
              <div class="videoItem item--large" style="position: relative;" onclick="detailImg('<%= item.path %>')">
                <video class="w-full h-full object-cover" autoplay muted loop>
                  <source src="<%= item.path %>" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
              <div id="popup-<%= item.path %>" class="popups hidden bg-black/30 text-white backdrop-blur-lg shadow-lg rounded-lg flex-col fixed top-0 left-0 z-40 w-full h-full justify-center items-center">
                <div class="relative w-full h-full">
                  <div class="bg-neutral-800 absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 shadow-xl rounded-xl overflow-hidden">
                    <!-- <img src="<%= item.path %>" alt="" class="h-[70vh] w-auto"> -->
                    <video src="<%= item.path %>" class="h-[70vh]" controls autoplay width="372" height="480"></video>
                  </div>
                  <div class="absolute text-white text-4xl right-14 top-28 drop-shadow-xl cursor-pointer" onclick="detailImg('<%= item.path %>')">
                    <i class="fa-solid fa-xmark"></i>
                  </div>
                </div>
              </div>
            <% } %>
          <% }) %>
        </div>
        <div id="detailBtn-<%= week %>" class="cursor-pointer details-week absolute bottom-0 w-full h-[6vh] bg-gradient-to-t from-neutral-800 hover:to-neutral-800/100 to-neutral-800/10 backdrop-blur-lg transition-all" onclick="seeDetail('detailBtn-<%= week %>','spy-<%= week %>')">
          <div class="w-full h-full flex justify-center items-center gap-4">
            <i class="fa-solid fa-angle-down"></i>
          </div>
        </div>
      </section>
    <% } %>
    <div class="text-center my-20">
      <h1 class="text-2xl sm:text-4xl text-white font-bold">- <span>That's all From Us</span> -</h1>
    </div>
    <footer>
      <!--Waves Container-->
      <div class="mt-20">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(2,204,32,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(2,204,32,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(2,204,32,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#02cc20" />
          </g>
        </svg>
      </div>
      <!--Content starts-->
      <div class="foot-content flex flex-col gap-4 justify-center items-center">
        <h1 class="text-2xl md:text-4xl mx-4">Open Source @ Clan 4 MOZILLA</h1>
        <div id="lists-nav">
          <ul class="hidden sm:flex flex-row gap-4 font-bold">
            <li><a href="#home" class="linkspy">Home</a></li>
            <li><a href="#aboutus" class="linkspy">About</a></li>
            <% for (const week in media) { %>
            <li><a href="#spy-<%= week %>" class="linkspy">Week <%= week.replace('week_', '') %></a></li>
            <% } %>
          </ul>
        </div>
      </div>
      <!--Content ends-->
    </footer>
  </div>
  <style>
    .waves {
      position: relative;
      width: 100%;
      height: 15vh;
      margin-bottom: -7px;
      /*Fix for safari gap*/
      min-height: 100px;
      max-height: 150px;
    }
  
    .foot-content {
      position: relative;
      height: 20vh;
      text-align: center;
      background-color: #02cc20;
    }
  
    /* Animation */
  
    .parallax>use {
      animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
    }
  
    .parallax>use:nth-child(1) {
      animation-delay: -2s;
      animation-duration: 7s;
    }
  
    .parallax>use:nth-child(2) {
      animation-delay: -3s;
      animation-duration: 10s;
    }
  
    .parallax>use:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 13s;
    }
  
    .parallax>use:nth-child(4) {
      animation-delay: -5s;
      animation-duration: 20s;
    }
  
    @keyframes move-forever {
      0% {
        transform: translate3d(-90px, 0, 0);
      }
  
      100% {
        transform: translate3d(85px, 0, 0);
      }
    }
  
    /*Shrinking for mobile*/
    @media (max-width: 768px) {
      .waves {
        height: 40px;
        min-height: 40px;
      }
  
      .foot-content {
        height: 30vh;
      }
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    // import gsap from 'https://cdn.skypack.dev/gsap@3.12.0'
    // import ScrollTrigger from 'https://cdn.skypack.dev/gsap@3.12.0/ScrollTrigger'

    const section = document.querySelector('.reader')
    const srOnly = document.querySelector('.sr-only')
    const toSplit = document.querySelector('[data-split]')
    const content = toSplit.innerText
    const contentLength = content.length

    const PPC = 10 // Pixels per character...
    const BUFFER = 40
    /**
     * Iterate over the words.
     * Add them in creating start and finish indexes for them.
     * */
    section.style.height = `${
      PPC * (contentLength + 2) + window.innerHeight + 8 * BUFFER
    }px`

    document.documentElement.style.setProperty('--buffer', BUFFER)
    document.documentElement.style.setProperty('--ppc', PPC)
    document.documentElement.style.setProperty('--pad', 8)
    document.documentElement.style.setProperty('--content-length', contentLength + 2)

    const words = toSplit.innerText.split(' ')
    toSplit.innerHTML = ''
    // toSplit.style.setProperty('--ppc', PPC)
    let cumulation = 10
    words.forEach((word, index) => {
      const text = Object.assign(document.createElement('span'), {
        innerHTML: `<span>${word} </span>`,
        style: `
      --index: ${index};
      --start: ${cumulation};
      --end: ${cumulation + word.length};
    `,
      })
      text.dataset.index = index
      text.dataset.start = cumulation
      text.dataset.end = cumulation + word.length
      cumulation += word.length + 1
      toSplit.appendChild(text)
    })

    if (!CSS.supports('animation-timeline: scroll()')) {
      gsap.registerPlugin(ScrollTrigger)
      console.info('GSAP ScrollTrigger: Registered')
      // Animate the words
      for (const word of toSplit.children) {
        gsap.fromTo(
          word, {
            '--active': 0,
          }, {
            '--active': 1,
            ease: 'steps(1)',
            scrollTrigger: {
              trigger: '.reader',
              start: `top top-=${word.dataset.start * PPC}`,
              end: `top top-=${word.dataset.end * PPC}`,
              scrub: true,
            },
          }
        )
      }
      // Animate the header
      gsap.to('header', {
        scale: 0.8,
        scrollTrigger: {
          trigger: 'header',
          start: 'top top',
          end: 'bottom top',
          scrub: true
        }
      })
    }
    AOS.init();
  </script>
  <script>
    window.addEventListener('scroll', function() {
      if (window.scrollY > 4100) {
          document.querySelector('nav').classList.add('showed');
      } else {
          document.querySelector('nav').classList.remove('showed');
      }
    });
    document.addEventListener('DOMContentLoaded', () => {
      const sections = document.querySelectorAll('.spy');
      const navLinks = document.querySelectorAll('nav a');
    
      const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.5 // Trigger when 50% of the section is visible
      };
    
      const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
          const id = entry.target.getAttribute('id');
          const correspondingLink = document.querySelector(`nav a[href="#${id}"]`);
          
          if (entry.isIntersecting) {
            // Add 'active' class to the corresponding link
            correspondingLink.classList.add('spy-active');
          } else {
            // Remove 'active' class if the section is not in view
            correspondingLink.classList.remove('spy-active');
          }
        });
      }, observerOptions);
    
      sections.forEach(section => {
        observer.observe(section);
      });
    });
    function seeDetail(btnid, id){
      const element = document.getElementById(id);
      const btnElement = document.querySelector('#'+btnid+' div i');
      const textElement = document.querySelector('#'+btnid+' > div');
      if (element.classList.contains('max-h-[100vh]')){
        element.classList.remove('max-h-[100vh]');
      } else {
        element.classList.add('max-h-[100vh]');
      }
      if (btnElement.classList.contains('fa-angle-down')) {
        btnElement.classList.remove('fa-angle-down');
        btnElement.classList.add('fa-angle-up');
      } else {
        btnElement.classList.remove('fa-angle-up');
        btnElement.classList.add('fa-angle-down');
      }
    }  
  </script>
  <script>
    const targetAll = document.querySelectorAll(".popups")
    function detailImg(imgId) {
      const target = document.getElementById("popup-"+imgId)
      const body = document.querySelector('body')
      body.classList.toggle('overflow-hidden')
      target.classList.toggle("hidden")
      target.classList.toggle("flex")
    }
    function closePopup() {
      const target = document.querySelectorAll('.popups')
      const body = document.querySelector('body')
      for (let i = 0; i < target.length; i++) {
        if (target[i].classList.contains('flex')) {
          target[i].classList.remove('flex')
          target[i].classList.add('hidden')
        }
      }
      body.classList.remove('overflow-hidden')
    }
    window.addEventListener('click', function(event) {
      if (event.target.classList.contains('popups')) {
        closePopup()
      }
    });
    window.addEventListener('keydown', function(event){
      if (event.key === "Escape") {
        closePopup()
      }
    })
  </script>
  <script src="scripts/dash.js"></script>
</body>

</html>